
@font-face {
  font-family: 'Celattin';
  src: url('./fonts/celattin font.woff2') format('woff2'),
       url('./fonts/celattin font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Centers';
  src: url('./fonts/Centers George.woff2') format('woff2'),
       url('./fonts/Centers George.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sinsitre';
  src: url('./fonts/Sinistre-StCaroline.woff2') format('woff2'),
       url('./fonts/Sinistre-StCaroline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
overflow: hidden;
}

  body {
        /* background-image:radial-gradient(rgba(255, 187, 0, 0), rgb(255, 187, 0)); */
        background-color: black;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 100%;
   
        }
  
  
        header{
          position: fixed;
          top:3%;
          right: 3%;
          z-index: 100;
          writing-mode: vertical-rl;
          text-orientation: mixed;
         
        }
        header h1 {
          cursor: pointer;
          margin: 0;
          font-family: 'Centers', auto  ;
          font-size: 10vh;  
          color: #ffd700; 
        }

        header:hover{
          color: #fff;
          text-shadow: 1px 1px 2px black, 0 0 25px rgba(255, 0, 255, 1), 0 0 5px #fff;
        }

        .vimeo-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            pointer-events: none;
            overflow: hidden;
          }
          .vimeo-wrapper iframe {
            width: 100vw;
            height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
            min-height: 100vh;
            min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          


  .hover {
    pointer-events: none;
    display: inline-block;
    position: absolute;
  }
  

  a:link {
    color:black;
    text-decoration: none;
    }
    a:visited {
    color:black;
    text-decoration: none;
    }
    a:hover {
    color:white;
    text-decoration: none;
    text-shadow: 1px 1px 2px black, 0 0 25px rgba(255, 0, 255, 1), 0 0 5px #fff;
    }


        footer{
          position: fixed;
          bottom:3%;
          left: 3%;
          z-index: 100;
         
        }
        footer h1 {
          cursor: pointer;
          margin: 0;
          font-family: 'Celattin', auto  ;
          font-size: 3vw;  
          color: #ffd700; 
        }

        footer:hover{
          color: #fff;
          text-shadow: 1px 1px 2px black, 0 0 25px rgba(255, 0, 255, 1), 0 0 5px #fff;
        }
