

@font-face {
  font-family: 'NectoMono';
  src: url('../../fonts/Necto-Mono.woff2') format('woff2'),
       url('../../fonts/Necto-Mono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sinsitre';
  src: url('../../fonts/Sinistre-StCaroline.woff2') format('woff2'),
       url('../../fonts/Sinistre-StCaroline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


*{
  overflow: hidden;
}


  body {
    background-color: black;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    font-size: 1vw;       
    }

    header{
      position: fixed;
      top:3%;
      left: 3%;
      z-index: 100;
     
    }
    header h1 {
      cursor: pointer;
      margin: 0;
      font-family: 'Sinsitre', auto  ;
      font-size: 3vw;  
      color: #ffd700; 
    }

    header:hover{
      color: #fff;
      text-shadow: 1px 1px 2px black, 0 0 25px rgba(255, 0, 255, 1), 0 0 5px #fff;
    }



a:link {
color:white;
text-decoration: none;
}
a:visited {
color:white;
text-decoration: none;
}
a:hover {
color:white;
text-decoration: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding-left: 25%;
  padding-top: 5%;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 60%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
    
.GAN3D {
    float: right;
    font-size: 3em;
    padding: 5px;
    position: fixed;
    bottom: 0%;
    left: 0%;
    border-radius: 50%;
  }
    
  .GAN3D:hover {
    filter: drop-shadow(0 0 3rem #ffd700);
    border-radius: 50%;
  }
  