
@font-face {
  font-family: 'Celattin';
  src: url('../../../fonts/celattin font.woff2') format('woff2'),
       url('../../../fonts/celattin font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Centers';
  src: url('../../../fonts/Centers George.woff2') format('woff2'),
       url('../../../fonts/Centers George.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sinsitre';
  src: url('../../../fonts/Sinistre-StCaroline.woff2') format('woff2'),
       url('../../../fonts/Sinistre-StCaroline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

  
  *{
    overflow: hidden;
  }

    body {
      background-color: black;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      height: 100%;
    }
  
      header{
        position: fixed;
        top:3%;
        left: 3%;
        z-index: 100;
       
      }
      header h1 {
        cursor: pointer;
        margin: 0;
        font-family: 'Centers', auto  ;
        font-size: 3vw;  
        color: #ffd700; 
      }
  
      header:hover{
        color: #fff;
        text-shadow: 1px 1px 2px black, 0 0 25px rgba(255, 0, 255, 1), 0 0 5px #fff;
      }
  
  
  
  a:link {
  color:white;
  text-decoration: none;
  }
  a:visited {
  color:white;
  text-decoration: none;
  }
  a:hover {
  color:white;
  text-decoration: none;
  }
 
  
  
  .sketchfab-embed-wrapper-1{
    position: absolute; 
    left: -30%; 
    top: 0%;
    /*
    max-width:70%;
    max-height:70%;
    */
  }

    
  
  .download{
    position: fixed;
    bottom: 3%;
    right: 3%;
    z-index: 100;
    transform: rotate(-90deg);
   }

  .download h1 {
    cursor: pointer;
    margin: 0;
    font-family: 'Celattin', auto  ;
    font-size: 3vw;  
    color: #ffd700; 
  }

  .download:hover{
    color: #fff;
    text-shadow: 1px 1px 2px black, 0 0 25px rgba(255, 0, 255, 1), 0 0 5px #fff;
   
  }




  footer{
    position: fixed;
    top: 2%;
    right: 2%;
    z-index: 1000;
    transform: rotate(90deg);
   
  }
  footer h1 {
    cursor: pointer;
    margin: 0;
    font-family: 'Celattin', auto  ;
    font-size: 3vw;  
    color: #ffd700; 
  }
  
  footer:hover{
    color: #fff;
    text-shadow: 1px 1px 2px black, 0 0 25px rgba(255, 0, 255, 1), 0 0 5px #fff;
  }
  