
@font-face {
  font-family: 'Celattin';
  src: url('../../fonts/celattin font.woff2') format('woff2'),
       url('../../fonts/celattin font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Centers';
  src: url('../../fonts/Centers George.woff2') format('woff2'),
       url('../../fonts/Centers George.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sinsitre';
  src: url('../../fonts/Sinistre-StCaroline.woff2') format('woff2'),
       url('../../fonts/Sinistre-StCaroline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
overflow: hidden;
}


  body {
    background-color: rgb(0, 0, 0);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    font-size: 1vw;       
    }

    header{
      position: fixed;
      top:3%;
      left: 0%;
      z-index: 100;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      transform: rotate(180deg);
    }
    header h1 {
      cursor: pointer;
      margin: 0;
      font-family: 'Centers', auto  ;
      font-size: 10vh;  
      color: #ffd700; 
    }

    header:hover{
      color: #fff;
      text-shadow: 1px 1px 2px black, 0 0 25px rgba(255, 0, 255, 1), 0 0 5px #fff;
    }



a:link {
color:white;
text-decoration: none;
}
a:visited {
color:white;
text-decoration: none;
}
a:hover {
color:white;
text-decoration: none;
}





/*
[type=radio] {
  display: none;
}

#slider {
  height: 35vw;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#slider label {
  margin: auto;
  width: 60%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  left: 0; right: 0;
  top: 15%;
  cursor: pointer;
  transition: transform 0.4s ease;
  
}

#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgb(255, 0, 0);
  transform: translate3d(-30%,0,-200px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(-15%,0,-100px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
  transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgb(255, 200, 0), 0 2px 2px 0 rgb(255, 238, 0);
  ;
  transform: translate3d(15%,0,-100px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(30%,0,-200px);
}

#slide1 { 
  background-color: none;
  width: 15vw;
}
#slide2 { 
  background-color: none;
}
#slide3 { 
  background-color: none;
}
#slide4 {   
  background-color: none;
}
#slide5 {   
  background-color: none;
}
*/





*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}
*:before,
*:after{
  box-sizing: border-box;
}


.container{
  margin: 4% auto;
  width: 210px;
  height: 140px;
  position: relative;
  perspective: 1000px;
}
#carousel{
  width: 100%;
  height: 100%;
  top: 30vh;
  left: 12%;
  position: absolute;
  transform-style: preserve-3d;
  animation: rotation 120s infinite linear;
  }
#carousel:hover{
  animation-play-state: paused;
}
#carousel figure{
  display: block;
  position: absolute;
  width: 186px;
  height: 116px;
  left: 10px;
  top: 10px;
  background: url('../../assets/TE_01-removebg-preview.png');
  overflow: hidden;
  border: solid 1px rgba(255, 0, 255, 1);
  box-shadow: 1px 1px 2px black, 0 0 25px rgba(255, 0, 255, 1), 0 0 5px #fff;
}

#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
#carousel figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
#carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
#carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
#carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
#carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
#carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
#carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}

img{
  -webkit-filter: grayscale(1);
  cursor: pointer;
  transition: all .5s ease;
}
img:hover{
  -webkit-filter: grayscale(0);
  transform: scale(1.2,1.2);
}

@keyframes rotation{
  from{
    transform: rotateY(0deg);
  }
  to{
    transform: rotateY(360deg);
  }
}









footer{
  position: fixed;
  top: 2%;
  right: 2%;
  z-index: 1000;
  transform: rotate(90deg);
 
}
footer h1 {
  cursor: pointer;
  margin: 0;
  font-family: 'Celattin', auto  ;
  font-size: 3vw;  
  color: #ffd700; 
}

footer:hover{
  color: #fff;
  text-shadow: 1px 1px 2px black, 0 0 25px rgba(255, 0, 255, 1), 0 0 5px #fff;
}
